.sideBar-style {
    display: flex;
    min-height: calc(100vh - 120px);
    background: #E5E7F3;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
}

.webinar-sidebar {
    height: fit-content;
    width: 6rem;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: #114168;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid;
    border-radius: 15px;
}

@media (min-width: 768px) {
  .webinar-sidebar {
    display: flex; /* md:flex */
  }
}