/* @import "tailwindcss";


@font-face {
  font-family: "Aloevera Sans";
  src: url("./assets/fonts/Aloevera-ExtraLight.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aloevera Sans";
  src: url("./assets/fonts/Aloevera-Thin.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Just Sans";
  src: url("./assets/fonts/JustSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
} */